@switch (step().step_type) {
  @case ("row-operation") {
    <app-row-operation-step [step]="$any(step())" />
  }
  @case ("substitution") {
    <app-substitution-step [step]="$any(step())" />
  }
  @case ("iteration") {
    <app-iteration-step [step]="$any(step())" />
  }
  @case ("show-matrices") {
    <app-show-matrices-step [step]="$any(step())" />
  }
  @case ("crout-decomposition") {
    <app-crout-decomposition-step [step]="$any(step())" />
  }
  @case ("cholesky-decomposition") {
    <app-cholesky-decomposition-step [step]="$any(step())" />
  }
}
