<form [formGroup]="form" (ngSubmit)="solve()">
  <div class="flex flex-col gap-16 items-center">
    <div class="grid gap-16">
      <div class="p-24 rounded-md bg-gray-100 shadow-md row-1 col-1">
        <h1 class="text-lg font-bold mb-8">System of Linear Equations</h1>
        <div>
          <label for="equation-count" class="font-medium"
            >Number of Equations:</label
          >
          <input
            id="equation-count"
            class="min-w-32 h-fit ml-8"
            type="text"
            [placeholder]="equationCount"
            formControlName="equationCount"
            autoSizeInput
          />
        </div>
        <div class="w-full flex justify-center">
          <app-equations
            class="mt-16"
            formControlName="equations"
            [equationCount]="equationCount"
          />
        </div>
        @if (
          form.get("equationCount")?.invalid &&
          (form.get("equationCount")?.touched ||
            form.get("equationCount")?.dirty)
        ) {
          <div class="w-full flex justify-center">
            <div
              class="text-sm text-red-600 font-medium text-center mt-8 max-w-2xs"
            >
              Please enter a valid number of equations.
            </div>
          </div>
        }
        @if (
          form.get("equations")?.invalid &&
          (form.get("equations")?.touched || form.get("equations")?.dirty)
        ) {
          <div class="w-full flex justify-center">
            <div
              class="text-sm text-red-600 font-medium text-center mt-8 max-w-2xs"
            >
              Please ensure all coefficients and constants are valid numbers.
            </div>
          </div>
        }
      </div>
      <div class="p-24 rounded-md bg-gray-100 shadow-md row-2 col-1">
        <div class="grid grid-cols-[max-content_max-content] gap-8">
          <label for="method" class="font-medium">Method:</label>
          <select id="method" formControlName="method">
            @for (method of methods; track method) {
              <option [value]="method.value">{{ method.label }}</option>
            }
          </select>
          <label for="precision" class="font-medium">Precision:</label>
          <input
            id="precision"
            class="min-w-32 h-fit"
            type="text"
            placeholder="10"
            formControlName="precision"
            autoSizeInput
          />
        </div>
      </div>
      @switch (form.get("method")?.value) {
        @case ("lu-decomposition") {
          <div class="p-24 rounded-md bg-gray-100 shadow-md col-1">
            <h1 class="text-lg font-bold mb-8">LU Decomposition Parameters</h1>
            <app-lu-parameters #parameters formControlName="parameters" />
          </div>
        }
        @case ("jacobi-iteration") {
          <div
            class="flex flex-col p-24 rounded-md bg-gray-100 shadow-md md:col-2 md:row-span-2"
          >
            <h1 class="text-lg font-bold mb-8 flex-0">
              Jacobi Iteration Parameters
            </h1>
            <app-iteration-parameters
              #parameters
              class="flex-1"
              formControlName="parameters"
              [equationCount]="equationCount"
            />
          </div>
        }
        @case ("gauss-seidel-iteration") {
          <div
            class="flex flex-col p-24 rounded-md bg-gray-100 shadow-md md:col-2 md:row-span-2"
          >
            <h1 class="text-lg font-bold mb-8 flex-0">
              Gauss-Seidel Iteration Parameters
            </h1>
            <app-iteration-parameters
              #parameters
              class="flex-1"
              formControlName="parameters"
              [equationCount]="equationCount"
            />
          </div>
        }
      }
    </div>
    <button
      type="submit"
      class="w-fit px-16 py-6 border-none rounded-lg outline-none bg-blue-500 text-white shadow-sm cursor-pointer transition duration-200 hover:bg-blue-400 hover:-translate-y-2 hover:shadow-md active:bg-blue-600 active:translate-y-0 active:shadow-sm"
    >
      Solve
    </button>
    <pre>
			{{ form.value | json }}
		</pre
    >
  </div>
</form>
