<div
  class="grid gap-y-6 items-center justify-items-center w-fit"
  [style.gridTemplateColumns]="
    'repeat(' + (equationCount() * 3 + 1) + ', auto)'
  "
  [formGroup]="form"
>
  @for (i of equationCount() | range; track $index) {
    @for (j of equationCount() | range; track $index) {
      <input
        #input
        class="min-w-full h-fit"
        type="text"
        placeholder="0"
        [formControl]="form.controls.coefficients.at(i).at(j)"
        autoSizeInput
        [extraWidth]="10"
        (keydown)="onKeyDown(i, j, $event)"
      />
      <math class="ml-4">
        <msub>
          <mi>x</mi>
          <mn> {{ j + 1 }} </mn>
        </msub>
      </math>
      @if (j < equationCount() - 1) {
        <math>
          <mo>+</mo>
        </math>
      }
    }
    <math>
      <mo>=</mo>
    </math>
    <input
      #input
      class="min-w-full h-fit"
      type="text"
      placeholder="0"
      [formControl]="form.controls.constants.at(i)"
      autoSizeInput
      [extraWidth]="10"
      (keydown)="onKeyDown(i, equationCount(), $event)"
    />
  }
</div>
