@import "tailwindcss";

@theme {
  --spacing: 1px;
}

@layer components {
  :root {
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-200);
    color: var(--color-gray-900);
    user-select: none;
    overflow: hidden;
  }

  input,
  select {
    padding: 0.3rem 0.4rem;
    border: 0px solid var(--color-white);
    border-bottom-width: 3px;
    border-radius: var(--radius-sm);
    outline: none;
    background-color: var(--color-white);
    color: var(--color-gray-900);
    font: inherit;
    text-align: center;
    box-shadow: var(--shadow-sm);
    transition: background-color, border-bottom-color, box-shadow, transform;
    transition-duration: 200ms;
  }

  input:focus,
  select:active {
    border-bottom-color: var(--color-blue-500);
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
  }

  input::placeholder,
  input:disabled {
    color: rgb(from currentColor r g b / 50%);
  }

  input:disabled {
    background-color: var(--color-gray-200);
    border-bottom-color: var(--color-gray-200);
    cursor: not-allowed;
  }

  input.ng-invalid.ng-touched {
    border-bottom-color: var(--color-red-600);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.3rem 0.75rem;
    padding-right: 1.75rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
  }
}
